@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #0f1f1c;
  line-height: 1;
  font-family: "Poppins";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 400;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 77.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button._fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
  color: #c4c4c4;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page {
  background-color: #f6f6f6;
}

.button {
  display: inline-block;
  color: #fefefe;
  background: -o-linear-gradient(320.46deg, #ff7b4e 15.57%, #ff584e 95.03%);
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 1.6875rem;
  text-align: center;
  padding: 1.6875rem 2.9375rem;
  border: none;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

.button span {
  -webkit-animation: pulse1 1s infinite;
          animation: pulse1 1s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.0625rem solid #fff;
  opacity: 1;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.button::after {
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 0.625rem;
  height: 0.625rem;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.button:before {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  border-radius: inherit;
  opacity: 0;
  content: "";
  background: -o-linear-gradient(318.44deg, rgba(66, 142, 95, 0.4784313725) -17.52%, rgba(17, 33, 32, 0.4862745098) 79.04%);
  background: linear-gradient(131.56deg, rgba(66, 142, 95, 0.4784313725) -17.52%, rgba(17, 33, 32, 0.4862745098) 79.04%);
}

.button:hover:before {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: -1;
}

@-webkit-keyframes pulse {
  50% {
    opacity: 0.2;
    width: 9.375rem;
    height: 9.375rem;
    border: 0.25rem solid #fff;
  }

  100% {
    opacity: 0.4;
    width: 25rem;
    height: 25rem;
    border: 0.5rem solid #fff;
  }
}

@keyframes pulse {
  50% {
    opacity: 0.2;
    width: 9.375rem;
    height: 9.375rem;
    border: 0.25rem solid #fff;
  }

  100% {
    opacity: 0.4;
    width: 25rem;
    height: 25rem;
    border: 0.5rem solid #fff;
  }
}

@-webkit-keyframes pulse1 {
  50% {
    opacity: 0.2;
    width: 8.75rem;
    height: 8.75rem;
    border: 0.25rem solid #fff;
  }

  100% {
    opacity: 0.4;
    width: 24.375rem;
    height: 24.375rem;
    border: 0.5rem solid #fff;
  }
}

@keyframes pulse1 {
  50% {
    opacity: 0.2;
    width: 8.75rem;
    height: 8.75rem;
    border: 0.25rem solid #fff;
  }

  100% {
    opacity: 0.4;
    width: 24.375rem;
    height: 24.375rem;
    border: 0.5rem solid #fff;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 40%;
  background: -o-linear-gradient(320.46deg, #ff7b4e 15.57%, #ff584e 95.03%), #8b8b8b;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #8b8b8b;
  border-radius: 2.125rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: url("../img/destination/arrow-slider.svg");
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0;
  left: auto;
  display: none;
}

.swiper-button-next::after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: -1.875rem;
  right: auto;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  height: 8.5625rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header._header-scroll {
  background-color: rgba(0, 0, 0, 0.6);
}

.header._header-scroll .header__container {
  height: 4.375rem;
}

.header__logo {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #ffffff;
}

.header__actions {
  position: relative;
  z-index: 2;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (gap: clamp( 1.25rem , -0.0131578947rem  +  6.3157894737vw , 5rem )) {
  .menu-header__list {
    gap: clamp( 1.25rem , -0.0131578947rem  +  6.3157894737vw , 5rem );
  }
}

@supports not (gap: clamp( 1.25rem , -0.0131578947rem  +  6.3157894737vw , 5rem )) {
  .menu-header__list {
    gap: calc(1.25rem + 3.75 * (100vw - 20rem) / 59.375);
  }
}

.menu-header__list .menu-header__link {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.menu-header__list:hover .menu-header__link {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: blur(0.3125rem);
          filter: blur(0.3125rem);
  opacity: 0.3;
}

.menu-header__list .menu-header__link:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: blur(0rem);
          filter: blur(0rem);
  opacity: 1;
}

.menu-header__link {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.4666666667;
  color: #ffffff;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5625rem;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.4666666667;
  color: #ffffff;
}

.actions-header__label {
  white-space: nowrap;
}

.actions-header__button {
  background: -o-linear-gradient(320.46deg, #ff7b4e 15.57%, #ff584e 95.03%);
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  padding: 0.8125rem 2.75rem;
  border-radius: 6.25rem;
  text-align: center;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #e5e5e5;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  height: 12.25rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__logo {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #ff7c4e;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (gap: clamp( 1.25rem , -0.0131578947rem  +  6.3157894737vw , 5rem )) {
  .menu-footer__list {
    gap: clamp( 1.25rem , -0.0131578947rem  +  6.3157894737vw , 5rem );
  }
}

@supports not (gap: clamp( 1.25rem , -0.0131578947rem  +  6.3157894737vw , 5rem )) {
  .menu-footer__list {
    gap: calc(1.25rem + 3.75 * (100vw - 20rem) / 59.375);
  }
}

.menu-footer__link {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.4666666667;
  color: #0f1f1c;
  opacity: 0.5;
}

.actions-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.4666666667;
  color: #838b89;
}

@supports (gap: clamp( 1.875rem , 1.1171052632rem  +  3.7894736842vw , 4.125rem )) {
  .actions-footer {
    gap: clamp( 1.875rem , 1.1171052632rem  +  3.7894736842vw , 4.125rem );
  }
}

@supports not (gap: clamp( 1.875rem , 1.1171052632rem  +  3.7894736842vw , 4.125rem )) {
  .actions-footer {
    gap: calc(1.875rem + 2.25 * (100vw - 20rem) / 59.375);
  }
}

.actions-footer__label {
  white-space: nowrap;
}

.actions-footer__button {
  color: #fff;
  background: -o-linear-gradient(320.46deg, #ff7b4e 15.57%, #ff584e 95.03%);
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  padding: 0.8125rem 2.75rem;
  border-radius: 6.25rem;
  text-align: center;
}

.explore {
  background: -o-linear-gradient(318.44deg, #428e5f -17.52%, #112120 79.04%);
  background: linear-gradient(131.56deg, #428e5f -17.52%, #112120 79.04%);
}

@supports (padding-top: clamp( 5.625rem , 4.6355263158rem  +  4.9473684211vw , 8.5625rem )) {
  .explore {
    padding-top: clamp( 5.625rem , 4.6355263158rem  +  4.9473684211vw , 8.5625rem );
  }
}

@supports not (padding-top: clamp( 5.625rem , 4.6355263158rem  +  4.9473684211vw , 8.5625rem )) {
  .explore {
    padding-top: calc(5.625rem + 2.9375 * (100vw - 20rem) / 59.375);
  }
}

.explore__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.explore__body {
  position: absolute;
  z-index: 5;
  width: 37rem;
  height: 100%;
  top: 0;
}

@supports (padding-top: clamp( 1.25rem , 0.7868421053rem  +  2.3157894737vw , 2.625rem )) {
  .explore__body {
    padding-top: clamp( 1.25rem , 0.7868421053rem  +  2.3157894737vw , 2.625rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.7868421053rem  +  2.3157894737vw , 2.625rem )) {
  .explore__body {
    padding-top: calc(1.25rem + 1.375 * (100vw - 20rem) / 59.375);
  }
}

.explore__image {
  margin-right: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@supports (margin-right: clamp( 0.0000000625rem , -15.4999997991rem  +  24.9999997768vw , 7rem )) {
  .explore__image {
    margin-right: clamp( 0.0000000625rem , -15.4999997991rem  +  24.9999997768vw , 7rem );
  }
}

@supports not (margin-right: clamp( 0.0000000625rem , -15.4999997991rem  +  24.9999997768vw , 7rem )) {
  .explore__image {
    margin-right: calc(0.0000000625rem + 6.9999999375 * (100vw - 62rem) / 28);
  }
}

.explore__image img {
  max-width: 100%;
}

.body-explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-explore__tag {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #222;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 0.9375rem;
  padding: 0.6875rem 1.875rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.body-explore__tag:not(:last-child) {
  margin-bottom: 0.3888888889em;
}

.body-explore__tag::before {
  content: attr(data-text);
  position: absolute;
  color: #fff;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.25rem solid #fff;
  -webkit-animation: animate 8s linear infinite;
          animation: animate 8s linear infinite;
  -webkit-filter: drop-shadow(0 0 50px #fff) drop-shadow(0 0 80px #fff);
          filter: drop-shadow(0 0 50px #fff) drop-shadow(0 0 80px #fff);
}

@-webkit-keyframes animate {
  0%, 10%, 100% {
    width: 0;
  }

  70%, 90% {
    width: 10.3125rem;
  }
}

@keyframes animate {
  0%, 10%, 100% {
    width: 0;
  }

  70%, 90% {
    width: 10.3125rem;
  }
}

.body-explore__title {
  line-height: 1.4909090909;
  color: #ffffff;
}

@supports (font-size: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.4375rem )) {
  .body-explore__title {
    font-size: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.4375rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.4375rem )) {
  .body-explore__title {
    font-size: calc(1.875rem + 1.5625 * (100vw - 20rem) / 59.375);
  }
}

.body-explore__title:not(:last-child) {
  margin-bottom: 0.5454545455em;
}

.body-explore__text {
  font-weight: 700;
  line-height: 1.52;
  color: #ffffff;
  opacity: 0.5;
}

@supports (font-size: clamp( 1.25rem , 1.1447368421rem  +  0.5263157895vw , 1.5625rem )) {
  .body-explore__text {
    font-size: clamp( 1.25rem , 1.1447368421rem  +  0.5263157895vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1447368421rem  +  0.5263157895vw , 1.5625rem )) {
  .body-explore__text {
    font-size: calc(1.25rem + 0.3125 * (100vw - 20rem) / 59.375);
  }
}

.body-explore__text:not(:last-child) {
  margin-bottom: 2.72em;
}

.body-explore__button {
  font-weight: 600;
  line-height: 1.52;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@supports (font-size: clamp( 1.25rem , 1.1447368421rem  +  0.5263157895vw , 1.5625rem )) {
  .body-explore__button {
    font-size: clamp( 1.25rem , 1.1447368421rem  +  0.5263157895vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1447368421rem  +  0.5263157895vw , 1.5625rem )) {
  .body-explore__button {
    font-size: calc(1.25rem + 0.3125 * (100vw - 20rem) / 59.375);
  }
}

.destinations {
  background-color: #e5e5e5;
}

@supports (padding-top: clamp( 1.875rem , 0.4855263158rem  +  6.9473684211vw , 6rem )) {
  .destinations {
    padding-top: clamp( 1.875rem , 0.4855263158rem  +  6.9473684211vw , 6rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.4855263158rem  +  6.9473684211vw , 6rem )) {
  .destinations {
    padding-top: calc(1.875rem + 4.125 * (100vw - 20rem) / 59.375);
  }
}

.destinations__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transform: translate(0px, 100%);
      -ms-transform: translate(0px, 100%);
          transform: translate(0px, 100%);
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.destinations__container._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

.destinations__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36.7741935484%;
          flex: 0 0 36.7741935484%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2.8125rem;
}

.destinations__content:not(:last-child) {
  margin-bottom: 1.875rem;
}

.destinations__body {
  position: relative;
  min-width: 0;
}

.destinations__title {
  font-weight: 600;
  line-height: 1.5;
  color: #0f1f1c;
}

@supports (font-size: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem )) {
  .destinations__title {
    font-size: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem )) {
  .destinations__title {
    font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 59.375);
  }
}

.destinations__title span {
  line-height: 1.4909090909;
}

@supports (font-size: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.4375rem )) {
  .destinations__title span {
    font-size: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.4375rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.4375rem )) {
  .destinations__title span {
    font-size: calc(1.875rem + 1.5625 * (100vw - 20rem) / 59.375);
  }
}

.destinations__title:not(:last-child) {
  margin-bottom: 0.5em;
}

.destinations__text {
  font-weight: 500;
  line-height: 1.52;
  color: #0f1f1c;
  opacity: 0.5;
}

@supports (font-size: clamp( 1.25rem , 1.1447368421rem  +  0.5263157895vw , 1.5625rem )) {
  .destinations__text {
    font-size: clamp( 1.25rem , 1.1447368421rem  +  0.5263157895vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1447368421rem  +  0.5263157895vw , 1.5625rem )) {
  .destinations__text {
    font-size: calc(1.25rem + 0.3125 * (100vw - 20rem) / 59.375);
  }
}

.destinations__text:not(:last-child) {
  margin-bottom: 2.4em;
}

.destinations__button {
  font-size: 1.25rem;
  line-height: 1.5;
}

.destinations__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-card img {
  max-width: 20.9375rem;
}

.about {
  background-color: #e5e5e5;
}

@supports (padding-top: clamp( 1.875rem , -1.7039473684rem  +  17.8947368421vw , 12.5rem )) {
  .about {
    padding-top: clamp( 1.875rem , -1.7039473684rem  +  17.8947368421vw , 12.5rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -1.7039473684rem  +  17.8947368421vw , 12.5rem )) {
  .about {
    padding-top: calc(1.875rem + 10.625 * (100vw - 20rem) / 59.375);
  }
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transform: translate(0px, 50%);
      -ms-transform: translate(0px, 50%);
          transform: translate(0px, 50%);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@supports (gap: clamp( 1.875rem , 1.075rem  +  4vw , 4.25rem )) {
  .about__container {
    gap: clamp( 1.875rem , 1.075rem  +  4vw , 4.25rem );
  }
}

@supports not (gap: clamp( 1.875rem , 1.075rem  +  4vw , 4.25rem )) {
  .about__container {
    gap: calc(1.875rem + 2.375 * (100vw - 20rem) / 59.375);
  }
}

.about__container._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

.about__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 38.5483870968%;
          flex: 0 1 38.5483870968%;
}

.content-about__title {
  font-weight: 500;
  line-height: 1.5111111111;
  color: #0f1f1c;
}

@supports (font-size: clamp( 1.5625rem , 1.1414473684rem  +  2.1052631579vw , 2.8125rem )) {
  .content-about__title {
    font-size: clamp( 1.5625rem , 1.1414473684rem  +  2.1052631579vw , 2.8125rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.1414473684rem  +  2.1052631579vw , 2.8125rem )) {
  .content-about__title {
    font-size: calc(1.5625rem + 1.25 * (100vw - 20rem) / 59.375);
  }
}

.content-about__title:not(:last-child) {
  margin-bottom: 0.7777777778em;
}

.content-about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 2.5rem )) {
  .content-about__body {
    gap: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 2.5rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 2.5rem )) {
  .content-about__body {
    gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 59.375);
  }
}

@supports (margin-bottom: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 3.75rem )) {
  .content-about__body:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 3.75rem )) {
  .content-about__body:not(:last-child) {
    margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 59.375);
  }
}

.content-about__text {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.5;
  color: #0f1f1c;
  opacity: 0.5;
}

.content-about__text:not(:last-child) {
  margin-bottom: 1.3636363636em;
}

.body-about__image {
  position: relative;
}

.body-about__image img {
  position: relative;
  z-index: 5;
}

.body-about__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8.375rem;
  height: 8.375rem;
  border-radius: 50%;
  background-color: #ff7b4e;
}

.block-about {
  color: #0f1f1c;
}

.block-about__title {
  font-weight: 500;
  font-size: 2.0625rem;
  line-height: 1.5151515152;
}

@supports (font-size: clamp( 1.125rem , 0.8092105263rem  +  1.5789473684vw , 2.0625rem )) {
  .block-about__title {
    font-size: clamp( 1.125rem , 0.8092105263rem  +  1.5789473684vw , 2.0625rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.8092105263rem  +  1.5789473684vw , 2.0625rem )) {
  .block-about__title {
    font-size: calc(1.125rem + 0.9375 * (100vw - 20rem) / 59.375);
  }
}

.block-about__title:not(:last-child) {
  margin-bottom: 0.303030303em;
}

.block-about__text {
  font-weight: 400;
  font-size: 1.5625rem;
  line-height: 1.52;
  opacity: 0.5;
}

@supports (font-size: clamp( 0.9375rem , 0.7269736842rem  +  1.0526315789vw , 1.5625rem )) {
  .block-about__text {
    font-size: clamp( 0.9375rem , 0.7269736842rem  +  1.0526315789vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.7269736842rem  +  1.0526315789vw , 1.5625rem )) {
  .block-about__text {
    font-size: calc(0.9375rem + 0.625 * (100vw - 20rem) / 59.375);
  }
}

.get-started {
  background-color: #e5e5e5;
}

@supports (padding-top: clamp( 1.875rem , -2.3986842105rem  +  21.3684210526vw , 14.5625rem )) {
  .get-started {
    padding-top: clamp( 1.875rem , -2.3986842105rem  +  21.3684210526vw , 14.5625rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -2.3986842105rem  +  21.3684210526vw , 14.5625rem )) {
  .get-started {
    padding-top: calc(1.875rem + 12.6875 * (100vw - 20rem) / 59.375);
  }
}

.get-started__container {
  opacity: 0;
  -webkit-transform: translate(0px, 50%);
      -ms-transform: translate(0px, 50%);
          transform: translate(0px, 50%);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.get-started__container._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

.block-get-started {
  background-color: #ffffff;
  border-radius: 3.75rem;
  padding: 3.125rem;
  text-align: center;
  color: #0f1f1c;
}

.block-get-started__title {
  font-weight: 500;
  line-height: 1.5111111111;
}

@supports (font-size: clamp( 1.5625rem , 1.1414473684rem  +  2.1052631579vw , 2.8125rem )) {
  .block-get-started__title {
    font-size: clamp( 1.5625rem , 1.1414473684rem  +  2.1052631579vw , 2.8125rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.1414473684rem  +  2.1052631579vw , 2.8125rem )) {
  .block-get-started__title {
    font-size: calc(1.5625rem + 1.25 * (100vw - 20rem) / 59.375);
  }
}

.block-get-started__title:not(:last-child) {
  margin-bottom: 0.6666666667em;
}

.block-get-started__text {
  line-height: 1.5;
  opacity: 0.5;
}

@supports (font-size: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem )) {
  .block-get-started__text {
    font-size: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem )) {
  .block-get-started__text {
    font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 59.375);
  }
}

.block-get-started__text:not(:last-child) {
  margin-bottom: 2em;
}

.subscribe {
  background-color: #e5e5e5;
}

@supports (padding-top: clamp( 1.875rem , -0.3355263158rem  +  11.0526315789vw , 8.4375rem )) {
  .subscribe {
    padding-top: clamp( 1.875rem , -0.3355263158rem  +  11.0526315789vw , 8.4375rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -0.3355263158rem  +  11.0526315789vw , 8.4375rem )) {
  .subscribe {
    padding-top: calc(1.875rem + 6.5625 * (100vw - 20rem) / 59.375);
  }
}

@supports (padding-bottom: clamp( 1.25rem , 0.9763157895rem  +  1.3684210526vw , 2.0625rem )) {
  .subscribe {
    padding-bottom: clamp( 1.25rem , 0.9763157895rem  +  1.3684210526vw , 2.0625rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.9763157895rem  +  1.3684210526vw , 2.0625rem )) {
  .subscribe {
    padding-bottom: calc(1.25rem + 0.8125 * (100vw - 20rem) / 59.375);
  }
}

.subscribe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: translate(0px, 50%);
      -ms-transform: translate(0px, 50%);
          transform: translate(0px, 50%);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.subscribe__container form {
  position: relative;
  width: 50rem;
}

.subscribe__container._watcher-view {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

.subscribe__title {
  font-weight: 600;
  line-height: 1.4909090909;
  color: #0f1f1c;
  max-width: 30.875rem;
}

@supports (font-size: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.4375rem )) {
  .subscribe__title {
    font-size: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.4375rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.4375rem )) {
  .subscribe__title {
    font-size: calc(1.875rem + 1.5625 * (100vw - 20rem) / 59.375);
  }
}

.subscribe__title:not(:last-child) {
  margin-bottom: 1.0909090909em;
}

.subscribe__input {
  width: 100%;
  padding: 2.9375rem 20.625rem 2.9375rem 2.9375rem;
  border-radius: 2.1875rem;
  font-size: 1.5rem;
}

.subscribe__input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #0f1f1c;
  opacity: 0.5;
}

.subscribe__input::-moz-placeholder {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #0f1f1c;
  opacity: 0.5;
}

.subscribe__input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #0f1f1c;
  opacity: 0.5;
}

.subscribe__input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #0f1f1c;
  opacity: 0.5;
}

.subscribe__input::placeholder {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #0f1f1c;
  opacity: 0.5;
}

.subscribe__button {
  position: absolute;
  bottom: 9.3023255814%;
  right: 1.875%;
  font-weight: 600;
  font-size: 1.5625rem;
  line-height: 1.52;
  padding: 2.125rem 5.375rem;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 29.99875em) {
  .destinations__button {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (min-width: 40.6875em) {
  .explore {
    -webkit-clip-path: polygon(54% 100%, 100% 93%, 100% 0, 0 0, 0 93%);
            clip-path: polygon(54% 100%, 100% 93%, 100% 0, 0 0, 0 93%);
  }
}

@media (min-width: 61.99875em) {
  .content-about__title {
    max-width: 35.3125rem;
  }

  .content-about__text {
    max-width: 30.6875rem;
  }

  .block-get-started {
    padding: 7.25rem 16.375rem;
  }
}

@media (min-width: 90em) {
  .destinations__body {
    margin-right: -6.25rem;
  }
}

@media (max-width: 81.25em) {
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 0rem;
  }

  .destinations__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .destinations__content {
    margin-right: 0rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 78.125em) {
  .explore__body {
    width: 31.25rem;
  }
}

@media (max-width: 61.99875em) {
  .explore__image {
    opacity: 0.3;
  }

  .about__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

@media (max-width: 51.875em) {
  .subscribe__container form {
    width: 100%;
  }

  .subscribe__title {
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 47.99875em) {
  .header__menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .menu-header__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #2b5b41;
    padding: 8.5625rem 0.9375rem 3.125rem 0.9375rem;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu-header__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 8.5625rem;
    left: -100%;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu-header__body {
    left: 0;
  }

  .menu-open .menu-header__body::before {
    left: 0;
    background-color: #2b5b41;
  }

  .menu-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .actions-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .actions-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    gap: 0.9375rem;
  }

  .actions-footer__button {
    width: 100%;
    margin-bottom: 1.875rem;
  }

  .explore__body {
    width: 90%;
  }
}

@media (max-width: 41.25em) {
  .subscribe__input {
    padding: 2.9375rem 0.9375rem 2.9375rem 0.9375rem;
  }

  .subscribe__input:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .subscribe__button {
    position: relative;
    width: 100%;
    bottom: 0;
    right: 0;
  }
}

@media (max-width: 40.625em) {
  .explore__body {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

@supports (padding-bottom: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 2.5rem )) {
    .explore__body {
      padding-bottom: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.8289473684rem  +  2.1052631579vw , 2.5rem )) {
    .explore__body {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 59.375);
    }
}

  .explore__image {
    display: none;
  }
}

@media (max-width: 32.5em) {
  .about__image img {
    max-width: 100%;
  }
}

@media (max-width: 29.99875em) {
  .button {
    width: 100%;
  }

  .header__container {
    gap: 0;
  }

  .actions-header {
    gap: 0.9375rem;
  }

  .footer__container {
    gap: 0;
  }

  .image-card img {
    max-width: 18.125rem;
  }
}

@media (max-width: 21.875em) {
  .header__container {
    height: 4.375rem;
  }

  .header__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1.875rem;
  }

  .actions-header__button {
    width: 100%;
  }
}

@media (any-hover: hover) {
  .menu-footer__link:hover {
    text-decoration: underline;
  }

  .actions-footer__label:hover {
    text-decoration: underline;
  }
}